$bg-color: #eeeeee;
$highlight-color: #2371ee;
$highlight-border-color: #438bff;
$toolbar-border-color: #0c4eb7;
$toolbar-text-color: #226de7;
$fun-blue: #4286f4;

// block colors
$block-green: #57aa57;
$block-dark-green: #2e6e2e;
$block-bright-green: #57e057;

$block-yellow: #cfcf6f;
$block-dark-yellow: #979724;
$block-bright-yellow: #ffffb3;

$block-blue: #4286f4;
$block-dark-blue: #0c4eb7;
$block-bright-blue: #6fa6ff;

$block-bright-red: #f185a8;

/* Misc Utility Styles */
.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
		-khtml-user-select: none; /* Konqueror HTML */
		  -moz-user-select: none; /* Firefox */
			-ms-user-select: none; /* Internet Explorer/Edge */
				 user-select: none; /* Non-prefixed version, currently
											  supported by Chrome and Opera */
 }

 body {
	 background: $bg-color;
	 margin-top: 0;
 }

 /* Toolbar Styles */

 #toolbar {
	background: transparent;
	border-bottom: 1px solid $toolbar-border-color;
	text-align: center;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;

	#toolbar-buttons {
		display: inline-block;
		button {
			background: transparent;
			color: $toolbar-text-color;
			border-color: $toolbar-border-color;
			padding: 0.25rem 0.5rem;
			margin: 0 0.25rem;

			&:hover, &.pressed {
				color: black;
				background: $highlight-color;
				border-color: $highlight-border-color;
			}
		}
	}
 }

 /* Message area Styles */
 #messages-to-user {
	 background: $bg-color;
	 margin-top: 0.5rem;
	 margin-bottom: 0.5rem;
	 text-align: center;
 }

/* SVG Styles */

#svg {
	width: 100%;
	height: 100%;

	.background {
		fill: gray;
		opacity: 0.25;
	}

	.tracking-empty {
		line {
			stroke: $fun-blue;
			stroke-width: 2;
		}
		text {
			@extend .noselect;
			fill: $fun-blue;
		}
		rect.track-text-border {
			fill: #1f1f1f;
			fill-opacity: 0.85;
			stroke: #1853ac;
			stroke-width: 2;
			rx: 6;
			ry: 6;
		}
	}

	g.axis text {
		@extend .noselect;
	}

	rect.day {
		fill: none;
		stroke: #181818;
		stroke-width: 1;
	}

	text.day-title {
		@extend .noselect;
		font-weight: bold;
		text-transform: capitalize;
		fill: lightgray;
		pointer-events: none;
	}

	#radial-gradiant-new-rect {
		stop:first-child { stop-color: #e6e6e6 }
		stop:last-child { stop-color: #6d6d6d }
	}
	#radial-gradiant-text-and-call {
		stop:first-child { stop-color: $block-green }
		stop:last-child { stop-color: $block-dark-green }
	}
	#radial-gradiant-text-only {
		stop:first-child { stop-color: $block-blue }
		stop:last-child { stop-color: $block-dark-blue }
	}
	#radial-gradiant-call-only {
		stop:first-child { stop-color: $block-yellow }
		stop:last-child { stop-color: $block-dark-yellow }
	}

	rect.time-block {
		stroke-width: 2;
		opacity: 0.5;
		cursor: pointer;

		&.time-block-new {
			opacity: 0.5;
			stroke: #2179ec;
			stroke-width: 1;
			fill: url(#radial-gradiant-new-rect);
		}

		&.text-and-call {
			stroke: $block-dark-green;
			fill: url(#radial-gradiant-text-and-call);
			&.delete-mode:hover { fill: $block-bright-red }
			&.no-hover { cursor: default }
			&.selected { fill: $block-bright-green }
		}
		&.text-and-call:hover:not(.no-hover) { fill: $block-bright-green }

		&.text-only {
			stroke: $block-dark-blue;
			fill: url(#radial-gradiant-text-only);
			&.delete-mode:hover { fill: $block-bright-red }
			&.no-hover { cursor: default }
			&.selected { fill: $block-bright-blue }
		}
		&.text-only:hover:not(.no-hover) { fill: $block-bright-blue }

		&.call-only {
			stroke: $block-dark-yellow;
			fill: url(#radial-gradiant-call-only);
			&.delete-mode:hover { fill: $block-bright-red }
			&.no-hover { cursor: default }
			&.selected { fill: $block-bright-yellow }
		}
		&.call-only:hover:not(.no-hover) { fill: $block-bright-yellow }

		&.no-text-or-call {
			stroke: #862141;
			fill: #ba5776;
			cursor: default;
			&.no-hover { cursor: default }
			&.selected { fill: $block-bright-red }
		}
		&.no-text-or-call:hover:not(.no-hover) { fill: $block-bright-red }
	}
}

/* Confirm modal styles */

#confirm-modal {
	padding: 1rem;
	.modal-message {
		margin-bottom: 0.25rem;
	}
	button {
		margin-top: 1rem;
	}
}

/* Time Block Details Modal Styles */

#block-detail-modal, div.modal {
	display: none;
	position: fixed;
	background: white;
	z-index: 100;
	opacity: 0.0;
	border: 1px black solid;
	border-radius: 6px;
	box-shadow: 0px 0px 20px -1px #777777;
	padding: 0.1rem;
}

.close-button {
	font-family: "Lucida Console", Monaco, monospace;
	font-weight: bold;
	font-size: 1.1rem;
	margin-top: 0.25rem;
	margin-right: 0.5rem;
	color: #5e5e5e;
	cursor: pointer;
	float: right;
	&:hover {
		color: $highlight-color;
	}
}

.modal-title {
	font-size: 1.35rem;
	color: #6b6b6b;
	text-align: center;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	margin-left: 0.5rem;
	margin-right: 1.5rem;
	white-space: nowrap;
}

fieldset {
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 1px solid #b6b6b6;

	&:first-of-type {
		border-top: 1px solid #b6b6b6;
		.input-group:first-of-type {
			position: relative;
			top: -0.25rem;
		}
	}

	&:last-of-type {
		border-bottom: none;
	}

	legend {
		position: relative;
		top: 7px;
		left: 0;
	}
}

.toggle-button {
	@extend .noselect;
	display: inline-block;
	border: 1px black solid;
	border-radius: 6px;
	padding: 0.15rem 0.25rem;
	margin-top: 0.1rem;
	margin-bottom: 0.1rem;
	cursor: pointer;
	font-size: 1rem;

	&.pressed {
		background: $highlight-color;
		border-color: $highlight-border-color;
		color: white;
	}
	&#texts-button, &#calls-button {
		width: 95%;
		text-align: center;
	}
}

#texts-repeat-button, #calls-repeat-button {
	display: none;
	margin-top: 0.4rem;
	margin-right: 0.2rem;

	&.active {
		display: inline-block;
	}
}

#texts-repeat-duration-group, #calls-repeat-duration-group {
	display: none;
	margin-right: -3.5rem;

	&.responsive-invis {
		display: inline-block;
		visibility: hidden;
	}

	&.active {
		display: inline-block;
	}
}

.time-label {
	display: inline-block;
	margin-right: 0.5rem;
	min-width: 4ch;
}

.time-colon {
	font-weight: bold;
}

.input-group {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;

	&:last-of-type {
		margin-bottom: 0.25rem;
	}
}

input.number {
	display: inline-block;
	max-width: 4ch;
	text-align: center;
	padding: 0.2rem;
}

input[type=time] {
	padding: 0.2rem;
	font-size: 0.85rem;
}

textarea {
	font-size: 0.85rem;
}

input:disabled {
	color: lightgray;
}

select {
	padding: 0.24rem 0.1rem;
	margin-left: 0.25rem;
}

#modal-buttons {
	float: right;
	margin-top: 0.25rem;
}

/* Responsive Styles */

@media screen and (min-width: 576px) {

	.modal-title {
		margin-right: 0.5rem;
	}

	.toggle-button {
		width: initial;
	}

	input[type=time] {
		font-size: 1rem;
	}

	textarea {
		font-size: 1.1rem;
	}

	#texts-repeat-button, #calls-repeat-button {
		display: inline-block;
		color: lightgray;
		border-color: lightgray;
		pointer-events: none;
		cursor: default;
		&.active {
			color: black;
			border-color: black;
			pointer-events: auto;
			cursor: pointer;
			&.pressed {
				color: white;
				border-color: $highlight-border-color;
			}
		}
	}

	#texts-repeat-duration-group, #calls-repeat-duration-group {
		display: inline-block;
		color: lightgray;
		border-color: lightgray;
		pointer-events: none;
		cursor: default;

		&.responsive-invis {
			visibility: visible;
		}

		&.active {
			color: black;
			border-color: black;
			pointer-events: auto;
			cursor: initial;

			.toggle-button.pressed {
				color: white;
				border-color: $highlight-border-color;
			}
		}
	}
}